.container
    br
    #ads.row
        // Category Card
        .col-md-4
            .card.rounded
              .card-image
                    img.img-fluid(src='assets/images/pspace1.jpeg' alt='Alternate Text')
                .card-image-overlay.m-auto
                    span.card-detail-badge Open
                    span.card-detail-badge Rs200/hr
                    span.card-detail-badge 9/4 ft
                .card-body.text-center
                    .ad-title.m-auto
                        h5 Near CP Market Block-5
                    a.ad-btn(href='#') View
        .col-md-4
            .card.rounded
                .card-image
                    img.img-fluid(src='assets/images/pspace2.jpeg' alt='Alternate Text')
                .card-image-overlay.m-auto
                    span.card-detail-badge Covered
                    span.card-detail-badge Rs350/hr
                    span.card-detail-badge 10/5 ft
                .card-body.text-center
                    .ad-title.m-auto
                        h5 Govardhan Appartments
                    a.ad-btn(href='#') View
        .col-md-4
            .card.rounded
                .card-image
                    img.img-fluid(src='assets/images/pspace3.jpeg' alt='Alternate Text')
                .card-image-overlay.m-auto
                    span.card-detail-badge Open
                    span.card-detail-badge Rs1500/hr
                    span.card-detail-badge 11/6 ft
                .card-body.text-center
                    .ad-title.m-auto
                        h5 Akshar Dham
                    a.ad-btn(href='#') View