html
    head
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:300i,400' rel='stylesheet')
        link(href='./styles/cards2.css' rel='stylesheet')
    body
        .container
            .card
                h3.title Card 1
                .bar
                    .emptybar
                    .filledbar
                .circle
                    svg(version='1.1' xmlns='http://www.w3.org/2000/svg')
                        circle.stroke(cx='60' cy='60' r='50')
            .card
                h3.title Card 2
                .bar
                    .emptybar
                    .filledbar
                .circle
                    svg(version='1.1' xmlns='http://www.w3.org/2000/svg')
                        circle.stroke(cx='60' cy='60' r='50')
            .card
                h3.title Card 3
                .bar
                    .emptybar
                    .filledbar
                .circle
                    svg(version='1.1' xmlns='http://www.w3.org/2000/svg')
                        circle.stroke(cx='60' cy='60' r='50')
            .card
                h3.title Card 4
                .bar
                    .emptybar
                    .filledbar
                .circle
                    svg(version='1.1' xmlns='http://www.w3.org/2000/svg')
                        circle.stroke(cx='60' cy='60' r='50')
