.footer
    .footer-content
        .footer-section.about
            h1.logo-text
                span PARK
                | &GO
            p
                | A single destination for all your parking problems.You
                | can provide find the parking spot closest
                | to your destination according to your convinence or you can earn
                | some extra bucks by puting your free space at job.
            .contact
                span
                    i.fas.fa-phone
                    |  8395020704
                span
                    i.fas.fa-email
                    |  the.whack.hack.bit@gmail.com
            .socials
                a(href='#')
                    i.fab.fa-facebook
                a(href='#')
                    i.fab.fa-instagram
                a(href='#')
                    i.fab.fa-twitter
                a(href='#')
                    i.fab.fa-youtube
        .footer-section.links
            h2 Quick Links
            br
            ul
                a(href='#')
                    li Events
                a(href='#')
                    li How the magic hppens
                a(href='#')
                    li Origin of idea
                a(href='#')
                    li Know the Team
                a(href='#')
                    li Terms and conditions
        .footer-section.contact-form
            h2 Contact form
            br
            form(action='index.html' method='post')
                input.text-input.contact-input(type='email' name='email' placeholder='Your email address....')
                textarea.text-input.contact-input(name='message' rows='4' placeholder='Your message....')
                button.btn.btn-big(type='submit')
                    i.fas.fa-envelope
                    |               Send
    .footer-bottom
        | © ParkGO.com | Designed by Anand, Shreyas and Kartik