header.header
        img.header__icon(src='assets/images/logo4.8z' alt='logo')
        .container.h-100
          .d-flex.justify-content-center.h-100
            .searchbar
              input.search_input(type='text' name='' placeholder='Search...')
              a.search_icon(href='#')
                i.fas.fa-search
        .header__right
          a(href='#')
            p#become-a-host Become a Host
          a(href='#')
            i.fas.fa-globe
          a(href='#')
            i.fas.fa-caret-down
          a(href='./login.html')
            i#login.fas.fa-user-astronaut