doctype html
html
  head
    meta(charset='utf-8')
    title Store Locator
    meta(name='robots' content='noindex, nofollow')
    meta(name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no')
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet')
    script(src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js')
    link(href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet')
    // Geocoder plugin
    script(src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.2.0/mapbox-gl-geocoder.min.js')
    link(rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.2.0/mapbox-gl-geocoder.css' type='text/css')
    // Turf.js plugin
    script(src='https://npmcdn.com/@turf/turf/turf.min.js')
    link(rel='stylesheet' href='./styles/maps.css')
  body
    .sidebar
      .heading
        h1 Our location
      #listings.listings
    #map.map
    script.
      /* This will let you use the .remove() function later on */
      if (!('remove' in Element.prototype)) {
      Element.prototype.remove = function() {
      if (this.parentNode) {
      this.parentNode.removeChild(this);
      }
      };
      }
    script(src='./maps.js')
