.dropdown-container {
  justify-content: center;
  display: flex;
  height: fit-content;
  font-size: 17px;
  color: aquamarine;
  overflow: hidden;
  font-family: "Source Sans Pro", sans-serif;
}

.dropdown {
  width: 300px;
  border-radius: 10px;
  color: aquamarine;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  background-color: transparent;
}

.dropdown-header {
  padding: 15px;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  color: aquamarine;
  font-weight: 800;
  align-items: center;
}

.dropdown-body {
  padding: 5px;
  border-top: 1px solid aquamarine;
  color: aquamarine;
  display: none;
}

.dropdown-body.open {
  display: block;
  color: aquamarine;
}

.dropdown-item {
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  color: aquamarine;
}

.dropdown-item:hover {
  cursor: pointer;
  color: aquamarine;
  background-color: transparent;
}

.dropdown-item-dot {
  opacity: 0;
  color: aquamarine;
  transition: all 0.2s ease-in-out;
}

.dropdown-item-dot.selected {
  opacity: 1;
}

.icon {
  font-size: 13px;
  padding-left: 5px;
  color: aquamarine;
  transform: rotate(0deg);
  transition: all 0.2s ease-in-out;
}

.icon.open {
  transform: rotate(90deg);
}

.extradetail-number {
  outline: none;
  border: none;
  border-radius: 2px;
  max-width: 70%;
  font-weight: 600;
  margin-top: auto;
  margin-bottom: 15px;
}
